<div class="audio-pair-card">
  <div class="audio-pair-row">
    <div class="audio-cell">
      <audio controls preload="metadata">
      <source src="{{ context_url }}" type="audio/wav">
      </audio>
    </div>
  {% for model_name, model_url in model_urls.items() %}
    <div class="audio-cell">
      <audio controls preload="metadata">
      <source src="{{ model_url }}" type="audio/wav">
      </audio>
    </div>
  {% endfor %}
  </div>
  <p class="pair-comment">
    Text: {{ text }}
  </p>
</div>